/*Tela para tablete*/
@media only screen and (max-width: 1024px) {
    .body {
        width: 85%;
    }
    .img {
        width: 10px;
    }

    section#irrepresentante a{
        width: 10%;
    }
}

/*Tela parar smartohone*/
@media only screen and (max-width: 600px) {
    .body {
        width: 45%;
    }
    .img {
        width: 10%px
    }

    section#irrepresentante a{
        width: 10%;
    }
}
